<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.svetakvetko.mapper.GeneralMapper">


    <cache/>
    <insert id="createDbUserRoleTable">
        CREATE TABLE IF NOT EXISTS "webapp"."user_roles"
        (
            user_id serial NOT NULL,
            role_id serial NOT NULL,
            FOREIGN KEY (user_id) REFERENCES "webapp"."USER" (USERID) ON DELETE CASCADE,
            FOREIGN KEY (role_id) REFERENCES "webapp"."role" (ID),
            PRIMARY KEY (user_id, role_id)
        );
    </insert>

    <insert id="createDbUserTable">
        CREATE TABLE IF NOT EXISTS "webapp"."USER"
        (
            USERID          BIGSERIAL   NOT NULL,
            USERNAME        VARCHAR(20) NOT NULL,
            USERLOGIN       VARCHAR(20) NOT NULL,
            USERSURNAME     VARCHAR(20) NOT NULL,
            USERPASSWORD    VARCHAR(30) NOT NULL,
            USEREMAIL       VARCHAR(30) NOT NULL,
            USERDATEOFBIRTH VARCHAR(30) NOT NULL,
            USERSALARY      FLOAT       NOT NULL,
            PRIMARY KEY (USERID)
        );
    </insert>

    <insert id="createDbRoleTable">
        CREATE TABLE IF NOT EXISTS "webapp"."role"
        (
            ID       BIGSERIAL PRIMARY KEY,
            ROLENAME TEXT NOT NULL
        );
    </insert>
</mapper>